# Ignore Vim temporary files
.*.sw?

# Ignore changes to the JJB Configuration File
jenkins.ini

# We don't want .netrc files since they're credential files
.netrc

# Maven
target/

# Vagrant
.vagrant

# IntelliJ
.idea/
*.iml

# Standard Eclipse Files
.project
.classpath
.settings

# Standard Ignored Files
*.log
logs
ignore-*
*.ignore
*.tmp
*~

# Standard Sonar Files
.sonar